.divmain{
    height: 600px;
    width: 60%;
    background-color: rgb(252, 245, 245);
    text-align: center;
    margin: auto;
    width: 80%;
    opacity: 0.6;
}

body, html {
    height: 100%;
    margin: 0;
  }
body {      
        background-image: url("mex.jpg");    
    
        height: 100%;     
     
        background-position: center;  
       background-repeat: no-repeat;
        background-size: cover;
      }

 .button {
        background-color: #1405e6;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        position: center ;
 }

/**/
input[type=text], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #0c09f0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #200ae7;
  }
  input[type=button] {
    width: 100%;
    background-color: #0c09f0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=button]:hover {
    background-color: #200ae7;
  }

